<h2>New Cat</h2>


<%= render partial: 'layouts/errors' %>

<%= render 'form', cat: @cat %>

<!--<form action="/cats" method="post">
  
  <label for="cat_name">Name</label>
  
  <input name="cat[name]" id="cat_name" type="text">
  <br>

  <label for="cat_birth_date">Age</label>
  <input name="cat[birth_date]" id="cat_birth_date" type="date">
  <br>

  <label>Sex</label>
  <div>
    <input name="cat[sex]" id="cat_sex_m" type="radio" value="M">
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="F">
    <label for="cat_sex_f">Female</label>
  </div>
  <br>

  <label for="color">Color</label>
  <select name="cat[color]">
  
  <option value="select color" disabled selected> -- select a color -- </option>
    <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>"><%= color %></option>
    <% end %>
  </select>
  <br>


  <label for="description">Description</label>
  <textarea name="cat[description]" id="description"></textarea>
  <br>

  <input type="submit" value="Add cat">

  
</form>
-->